* { box-sizing: border-box; }

ul li {
    list-style: none;
}

ul {
    padding-left: 0;
}

.linebreak {
    display: none;
}

.linebreak-on {
    display: inline!important;
}
/* .grid-sizer, */
.grid-item {
    float: left;
    width: 100%
}
.grid-item--width2 {
    width: 100%;
}

/* clear fix */
.grid-overview:after {
    content: '';
    display: block;
    clear: both;
  }

.grid-overview {
    width: 100%;
}

.grid-overview-sizer,
.grid-overview-item {
    width: 10%;
}
.grid-overview-item {
    float: left;
    cursor: pointer;
}

.grid-overview-item:hover {
    transform: scale(1.05);
}

img {
    max-height: 250px;

}

.grid-overview-item-header {
    height: 4em;
    vertical-align: middle;
}

.grid-overview-item-footer {
    vertical-align: middle;
}

p, ul, .catch-word {
    margin: 0;
    padding: 0 10px 10px 10px;
    font-size: .95em;
    text-align: justify;
}

h5 {
    font-size: 1em;
}

.sticky {
    position: sticky;
    top: 0;
}

.corr3 {
    border: 2px solid #327e82 !important;
    border-radius: .5rem;
}
.corr2 {
    border: 2px solid #59c9d4 !important;
    border-radius: .5rem;
}
.corr1 {
    border: 2px solid #d2f6f9 !important;
    border-radius: .5rem;
}
.corr0 {
    border: 2px solid #000000 !important;
    border-radius: .5rem;
}
.btn {
    border-radius: .5rem;
}