ul li {
    list-style: none;
}

ul {
    padding-left: 0;
}

.linebreak {
    display: none;
}

.linebreak-on {
    display: inline!important;
}

.grid-sizer,
.grid-item {
    width: 50%;
    height: auto;
}
.grid-item--width2 {
    width: 100%;
}

p, ul, .catch-word {
    margin: 0;
    padding: 0 10px 10px 10px;
    font-size: .9em;
    text-align: justify;
}

h5 {
    font-size: 1em;
}

.sticky {
    position: fixed;
    top: 3%;
    width: 50%;
}