* { box-sizing: border-box; }

ul li {
    list-style: none;
}

ul {
    padding-left: 0;
}

.linebreak {
    display: none;
}

.linebreak-on {
    display: inline!important;
}
/* .grid-sizer, */
.grid-item {
    float: left;
    width: 50%
}
.grid-item--width2 {
    width: 100%;
}

/* clear fix */
.grid-overview:after {
    content: '';
    display: block;
    clear: both;
  }

.grid-overview {
    width: 100%;
}

.grid-overview-sizer,
.grid-overview-item {
    width: 13%;
}
.grid-overview-item {
    float: inline-start;
    cursor: pointer;
}

.grid-overview-item:hover {
    transform: scale(1.05);
}

img {
    max-height: 250px;

}

.grid-overview-item-header {
    height: 75px;
    vertical-align: middle;
}

.grid-overview-item-footer {
    height: 50px;
    vertical-align: middle;
}

p, ul, .catch-word {
    margin: 0;
    padding: 0 10px 10px 10px;
    font-size: .95em;
    text-align: justify;
}

h5 {
    font-size: 1em;
}

.sticky {
    position: fixed;
    top: 3%;
    width: 50%;
}