---
import PageCard from "../components/PageCard.astro";
import PageNav from "../components/PageNav.astro";
import PageSection from "../components/PageSection.astro";
import Page from "../layouts/Page.astro";
import PageContent from "../layouts/PageContent.astro";
import { baseurl, createBaseurl } from "../lib/baseurl.ts";

const items = [
	{ title: "Team", hash: "#team" },
	{ title: "Partner*innen", hash: "#partner" },
	{ title: "Förderungen", hash: "#funds" },
];
---

<Page title="Über Uns" baseurl={baseurl}>
	<PageContent classNames={["container", "mx-auto", "mb-auto", "max-w-7xl"]}>
		<div class="my-4 flex flex-col">
			<PageNav items={items} />
			<PageSection>
				<span id="team"></span>
				<h2 class="border-b border-[#00000026] text-xl font-medium">
					<span class="-my-px inline-flex border-b border-[#212529] pb-4 text-[#212529]">
						Team
					</span>
				</h2>
				<PageCard
					image={createBaseurl("acdh-digitarium-originalausgaben-10-Sandra_Lehecka-1024x683.jpg")}
				>
					<em>© Sandra Lehecka</em>
					<div class="mt-8">
						<div>
							<div class="flex flex-row p-4">
								<img
									class="float-left mr-4 max-w-[300px]"
									alt="Zeitungen erfordern gute Vorrectores."
									src={createBaseurl("rund_resch_bb96429b15-150x150.png")}
								/>
								<ul>
									<li><strong>Dr. Claudia Resch</strong></li>
									<li><a href="mailto:claudia.resch.oeaw.ac.at">claudia.resch@oeaw.ac.at</a></li>
									<li>Gesamtprojektleitung und -koordination am ACDH-CH</li>
								</ul>
							</div>
							<div class="mx-auto flex flex-col p-4">
								<p>
									Für mich ist das DIGITARIUM ein wertvoller Datenschatz, weil wir daran zeigen
									können, dass sich durch die digitale Erschließung des Volltextes die Möglichkeiten
									wissenschaftlichen Erkenntnisgewinns für die verschiedenen Disziplinen
									vervielfältigen.
								</p>
								<p class="mt-4">
									Was mich besonders fasziniert: Die Zusammenarbeit mit Forschenden und
									Expert*innen, die ein gemeinsames Interesse an der verbesserten digitalen
									Erschließung von historischen Zeitungen haben.
								</p>
							</div>
						</div>
					</div>
					<div class="mt-8">
						<div>
							<div class="flex flex-row p-4">
								<img
									class="float-left mr-4 max-w-[300px]"
									alt="Zeitungen erfordern gute Vorrectores."
									src={createBaseurl("rund-anna-mader-kratky_round_900x900-150x150.png")}
								/>
								<ul>
									<li><strong>Dr. Anna Mader-Kratky</strong></li>
									<li><a href="mailto:anna.mader@oeaw.ac.at">anna.mader@oeaw.ac.at</a></li>
									<li>Projektleitung am IHB</li>
								</ul>
							</div>
							<div class="flex flex-col p-4">
								<p>
									Für mich ist das DIGITARIUM ein wertvoller Datenschatz, weil es die Recherche im
									Wien(n)erischen Diarium wesentlich erleichtert und mich zielsicher nach Begriffen
									oder Ereignissen suchen lässt, die etwa die Kunstpatronanz des Hauses Habsburg
									betreffen.
								</p>
								<p class="mt-4">
									Was mich besonders fasziniert: Die inhaltliche Vielfalt dieses historischen
									Quellenbestandes, die von europäischer Politik bis zu kuriosen Meldungen reicht.
								</p>
							</div>
						</div>
					</div>
					<div class="mt-8">
						<div>
							<div class="flex flex-row p-4">
								<img
									class="float-left mr-4 max-w-[300px]"
									alt="Zeitungen erfordern gute Vorrectores."
									src={createBaseurl("rund-gunther-muehlberger_round_900x900-150x150.jpg")}
								/>
								<ul>
									<li><strong>Dr. Günter Mühlberger</strong></li>
									<li>
										<a href="mailto:guenter.muehlberger@uibk.ac.at"
											>guenter.muehlberger@uibk.ac.at</a
										>
									</li>
									<li>Projektleitung am Forschungszentrum DH</li>
								</ul>
							</div>
							<div class="flex flex-col p-4">
								<p>
									Für mich ist das DIGITARIUM ein wertvoller Datenschatz, weil es für Transkribus
									der erste große Datensatz zu gedruckten Büchern war – und eindrucksvoll gezeigt
									hat, dass Texterkennung historischer Zeitungen mit ausgezeichneten Ergebnissen
									durchgeführt werden kann.
								</p>
								<p class="mt-4">
									Was mich besonders fasziniert: Die Entwicklung einer Zeitung über 100 Jahre und
									mehr zu verfolgen.
								</p>
							</div>
						</div>
					</div>
					<div class="mt-8">
						<div>
							<div class="flex flex-row p-4">
								<img
									class="float-left mr-4 max-w-[300px]"
									alt="Zeitungen erfordern gute Vorrectores."
									src={createBaseurl("rund-kampkaspar_84cce29b1d-150x150.png")}
								/>
								<ul>
									<li><strong>Mag. Dario Kampkaspar</strong></li>
									<li>
										<a href="mailto:dario.kampkaspar@oeaw.ac.at">dario.kampkaspar@oeaw.ac.at</a>
									</li>
									<li>Datenmodellierung und Webinterface am ACDH-CH</li>
								</ul>
							</div>
							<div class="flex flex-col p-4">
								<p>
									Für mich ist das DIGITARIUM ein wertvoller Datenschatz, weil es eine lückenlose
									Quelle über mehr als 300 Jahre Geschichte darstellt.
								</p>
								<p class="mt-4">
									Was mich besonders fasziniert: Die Möglichkeiten zur Datenauswertung.
								</p>
							</div>
						</div>
					</div>
					<div class="mt-8">
						<div>
							<div class="flex flex-row p-4">
								<img
									class="float-left mr-4 max-w-[300px]"
									alt="Zeitungen erfordern gute Vorrectores."
									src={createBaseurl("rund-schopper_87be04b292-150x150.png")}
								/>
								<ul>
									<li><strong>Mag. Daniel Schopper</strong></li>
									<li>
										<a href="mailto:daniel.schopper@oeaw.ac.at">daniel.schopper@oeaw.ac.at</a>
									</li>
									<li>Datenmodellierung und Standards am ACDH-DH</li>
								</ul>
							</div>
							<div class="flex flex-col p-4">
								<p>
									Für mich ist das DIGITARIUM ein wertvoller Datenschatz, weil es eine unikale
									Quelle ist, um Geschichte Tag um Tag fassbar zu machen.
								</p>
								<p class="mt-4">
									Was mich besonders fasziniert: Die Reichhaltigkeit dieser Quelle – und die
									Möglichkeiten, die diese Quelle für die Auswertung mit digitalen Möglichkeiten
									bietet, sofern sie in guter Qualität erschlossen ist.
								</p>
							</div>
						</div>
					</div>
					<div class="mt-8">
						<div>
							<div class="flex flex-row p-4">
								<img
									class="float-left mr-4 max-w-[300px]"
									alt="Zeitungen erfordern gute Vorrectores."
									src={createBaseurl("csm_team_rastinger_neu_1052568e7c-150x150.png")}
								/>
								<ul>
									<li><strong>Nina Claudia Rastinger, BA BSc MA</strong></li>
									<li>
										<a href="mailto:nina.rastinger@oeaw.ac.at">nina.rastinger@oeaw.ac.at</a>
									</li>
									<li>Textkollationierung und -kodierung am ACDH-CH</li>
								</ul>
							</div>
							<div class="flex flex-col p-4">
								<p>
									Für mich ist das DIGITARIUM ein wertvoller Datenschatz, weil es nicht nur einen
									Einblick in die Geschehnisse vergangener Jahrhunderte gibt, sondern auch den
									Wandel des Mediums Zeitung an sich einzufangen versucht.
								</p>
								<p class="mt-4">
									Was mich besonders fasziniert: Die den Texten innewohnenden Normen, daher wer
									überhaupt in welcher Form worüber berichten konnte.
								</p>
							</div>
						</div>
					</div>
					<div class="mt-8">
						<div>
							<div class="flex flex-row p-4">
								<img
									class="float-left mr-4 max-w-[300px]"
									alt="Zeitungen erfordern gute Vorrectores."
									src={createBaseurl("rund-nora-fischer_round_900x900-150x150.png")}
								/>
								<ul>
									<li><strong>Dr. Nora Fischer</strong></li>
									<li>
										<a href="mailto:nora.fischer@chello.at">nora.fischer@chello.at</a>
									</li>
									<li>Textkollationierung und Annotation am ACDH-CH und am IHB</li>
								</ul>
							</div>
							<div class="flex flex-col p-4">
								<p>
									Für mich ist das DIGITARIUM ein wertvoller Datenschatz, weil das Wien(n)erische
									Diarium als unmittelbare Quelle des Zeitgeschehens Einblick in Auffassungen und
									Denkweisen gewährt, die sich von den uns heute vertrauten Denkmustern
									unterscheiden.
								</p>
								<p class="mt-4">
									Was mich besonders fasziniert: Das weite Themenspektrum im Wien(n)erischen
									Diarium, in dem fortwährend Unbekanntes, Neues und Überraschendes zu entdecken
									ist.
								</p>
							</div>
						</div>
					</div>
					<div class="mt-8">
						<div>
							<div class="flex flex-row p-4">
								<img
									class="float-left mr-4 max-w-[300px]"
									alt="Zeitungen erfordern gute Vorrectores."
									src={createBaseurl("rund-michael-ploeltzl_round_900x900-150x150.png")}
								/>
								<ul>
									<li><strong> Dr. Michael Pölzl</strong></li>
									<li>
										<a href="mailto:poelzl-michael@gmx.at">poelzl-michael@gmx.at</a>
									</li>
									<li>Textkollationierung und Annotation am ACDH-CH und am IHB</li>
								</ul>
							</div>
							<div class="flex flex-col p-4">
								<p>
									Für mich ist das DIGITARIUM ein wertvoller Datenschatz, weil ich auf meine
									Forschungsfragen, etwa zum Wiener Hof (Herrschaftsrepräsentation, Hoforganisation)
									qualitative sowie quantitative Ergebnisse erhalte, die schriftliche Quellen in
									gewinnbringender Weise ergänzen.
								</p>
								<p class="mt-4">
									Was mich besonders fasziniert: Der rege interdisziplinäre Austausch und die sich
									daraus resultierenden Möglichkeiten für die Forschung.
								</p>
							</div>
						</div>
					</div>
					<div class="mt-8">
						<div>
							<div class="flex flex-row p-4">
								<img
									class="float-left mr-4 max-w-[300px]"
									alt="Zeitungen erfordern gute Vorrectores."
									src={createBaseurl("csm_team_elsner_neu_7bca603f15.png")}
								/>
								<ul>
									<li><strong>Daniel Elsner BA MA</strong></li>
									<li>
										<a href="mailto:daniel.elsner@oeaw.ac.at">daniel.elsner@oeaw.ac.at</a>
									</li>
									<li>Datenmodellierung, Web-Interface und Datenarchivierung (RSE) am ACDH-CH</li>
								</ul>
							</div>
							<div class="flex flex-col p-4">
								<p>
									Für mich ist das DIGITARIUM ein wertvoller Datenschatz, weil es eine historische
									Quelle als digitalen Datensatz weltweit zugänglich macht.
								</p>
								<p class="mt-4">
									Was mich besonders fasziniert: Die Durchsuchbarkeit der Zeitungen mit modernen
									Web-Technologien um den Forscher*innen die Arbeit zu erleichtern.
								</p>
							</div>
						</div>
					</div>
				</PageCard>
			</PageSection>

			<PageSection>
				<span id="partner"></span>
				<h2 class="border-b border-[#00000026] text-xl font-medium">
					<span class="-my-px inline-flex border-b border-[#212529] pb-4 text-[#212529]">
						Partner*innen
					</span>
				</h2>
				<PageCard
					image={createBaseurl(
						"acdh-digitarium-konferenz_vom_diarium_zum_digitarium-07-Basem_Saifo-1024x768.jpg",
					)}
					><em>© Basem Saifo</em>
					<div>
						<div class="p-4">
							<p>
								Das Projekt wird am <a
									class="hover:text-cyan-500"
									href="https://www.oeaw.ac.at/acdh/"
									><strong>Austrian Centre for Digital Humanities and Cultural Heritage</strong></a
								> geleitet und durchgeführt (Kontakt: Dr. Claudia Resch). Die Erstellung der Volltextversionen
								und die Anreicherung der Daten erfolgt in Kooperation mit dem <a
									class="hover:text-cyan-500"
									href="https://www.oeaw.ac.at/ihb/"
									><strong
										>Institut für die Erforschung der Habsburgermonarchie und des Balkanraumes</strong
									></a
								> (Kontakt: Dr. Anna Mader-Kratky) und der Gruppe <a
									class="hover:text-cyan-500"
									href="https://www.uibk.ac.at/germanistik/einrichtungen/dea.html"
									><strong>Digitalisierung und Elektronische Archivierung</strong></a
								> am Institut für Germanistik bzw. dem <a
									class="hover:text-cyan-500"
									href="https://www.uibk.ac.at/digital-humanities/"
									><strong>Forschungszentrum Digital Humanities</strong></a
								> an der Universität Innsbruck (Kontakt: Dr. Günter Mühlberger) sowie weiteren Kooperationspartner*innen.
							</p>
						</div>
						<div class="mx-auto flex flex-row p-4">
							<p>
								Das Projektteam ist international mit all jenen vernetzt, die historische Zeitungen
								digital erschließen, u.a. in der Arbeitsgruppe <a
									class="hover:text-cyan-500"
									href="https://dhd-ag-zz.github.io/"
									><strong>Zeitungen und Zeitschriften</strong></a
								> des Verbands DHd – „Digital Humanities im deutschsprachigen Raum“, die es mitbegründet
								hat, und in der Special Interest Group <a
									class="hover:text-cyan-500"
									href="https://tei-c.org/activities/sig/"
									><strong>Periodicals and Newspapers</strong></a
								> der „Text Encoding Initiative“, die Dario Kampkaspar 2018 initiiert hat und die seither
								von ihm geleitet wird.
							</p>
						</div>
					</div>
				</PageCard>
			</PageSection>

			<PageSection>
				<span id="funds"></span>
				<h2 class="border-b border-[#00000026] text-xl font-medium">
					<span class="-my-px inline-flex border-b border-[#212529] pb-4 text-[#212529]">
						Förderungen
					</span>
				</h2>
				<PageCard>
					<div>
						<div class="p-4">
							<h4 class="text-2xl">
								Programm „go!digital“ 2.0 der Österreichischen Akademie der Wissenschaften
							</h4>
							<ul class="mt-6">
								<li>
									<a
										class="underline hover:text-cyan-500"
										href="https://www.oeaw.ac.at/acdh/projects/completed-projects/wiennerisches-diarium-digital"
										>Das Wien[n]erische Diarium: Digitaler Datenschatz für die
										geisteswissenschaftlichen Disziplinen</a
									>
								</li>
								<li>Projektleitung: Claudia Resch</li>
								<li>Laufzeit: 03/2017 – 02/2020</li>
							</ul>
						</div>
						<div class="p-4">
							<h4 class="text-2xl">
								Kultur-, Wissenschafts- und Forschungsförderung der Stadt Wien (MA7)
							</h4>
							<ul class="mt-6">
								<li>
									<a
										class="underline hover:text-cyan-500"
										href="https://www.oeaw.ac.at/acdh/projects/visiting-vienna"
										>Zu Gast in Wien – digitale Ansätze zur (semi-)automatischen Auswertung der
										Ankunftslisten des „Wien[n]erischen Diariums“</a
									>
								</li>
								<li>Projektleitung: Nina C. Rastinger</li>
								<li>Laufzeit: 10/2022 – 09/2023</li>
							</ul>
							<ul class="mt-6">
								<li>
									TIME MACHINE WIEN: Korrespondierende digitale Datenschätze und Wissensressourcen
									(am Beispiel von Wienerischem DIGITARIUM und Wien Geschichte WIKI)
								</li>
								<li>Projektleitung: Claudia Resch</li>
								<li>Laufzeit: 12/2020 – 11/2021</li>
							</ul>
							<ul class="mt-6">
								<li>
									<a
										class="underline hover:text-cyan-500"
										href="https://www.oeaw.ac.at/ikm/forschung/habsburgische-repraesentation/das-wiennerische-diarium/"
										>Das Wien[n]erische Diarium als Medium habsburgischer Repräsentationsstrategien</a
									>
								</li>
								<li>Projektleitung: Anna Mader-Kratky</li>
								<li>Laufzeit: 01/2019 – 12/2019</li>
							</ul>
							<ul class="mt-6">
								<li>Das Wienerische Diarium – Online-Erschließung einer historischen Zeitung</li>
								<li>Projektleitung: Anna Mader-Kratky</li>
								<li>Laufzeit: 07/2017 – 06/2018</li>
							</ul>
						</div>
					</div>
				</PageCard>
			</PageSection>
		</div>
	</PageContent>
</Page>
