---
import Page from "../layouts/Page.astro";

const baseurl = import.meta.env.BASE_URL ? import.meta.env.BASE_URL : "";
---

<Page title="Fraktur Model" baseurl={baseurl}>
	<div class="flex flex-col">
		<div class="my-10 basis-4/12 self-center">
			<h2 class="py-6 text-center text-4xl">Fraktur Model</h2>
			<p class="p-4 text-xl">
				Hier können Sie das KI-Modell, das im Rahmen des Projekts „Das Wien[n]erische Diarium:
				Digitaler Datenschatz für die geisteswissenschaftlichen Diziplinen“ mittels Transkribus
				erstellt wurde, zur automatischen Texterkennung Ihres eigenen Forschungsmaterials testen.
			</p>
			<p class="p-4 text-xl">
				Das Modell wurde anhand von 829 400 Tokens aus dem „Wien[n]erischen Diarium“ bzw. der
				„Wiener Zeitung“ trainiert, um den auf Bilddigitalisaten enthaltenen Frakturdruck in
				maschinenlesbaren Volltext umzuwandeln.
			</p>
			<p class="p-4 text-xl">
				Die Fehlerrate (CER für Character Error Rate) des Modells liegt bei 0,8%. – Die besten
				Erfolge werden Sie erzielen, wenn Sie einspaltigen Frakturschrift aus dem 18. Jahrhundert
				(oder früher) einlesen.
			</p>
			<p class="p-4 text-xl">
				Lassen Sie uns gerne wissen, welchen Nutzen unser frei verfügbares Fraktur-Modell für Ihre
				eigenen Transkriptionsvorhaben hat!
			</p>
		</div>
		<div class="mb-20">
			<div id="app" class="app--embed">
				<div data-v-2e5c23bd="" data-v-5864e722="" class="column layout column--gaps">
					<div data-v-6eae2a62="" data-v-5864e722="" class="cell" data-v-2e5c23bd=""></div>
					<div data-v-6eae2a62="" data-v-5864e722="" class="cell cell--max" data-v-2e5c23bd="">
						<div data-v-2e83c935="" data-v-5864e722="" class="uploader" data-v-6eae2a62="">
							<div data-v-2e83c935="" class="uploader__left">
								<div data-v-2e83c935="" class="dropzone">
									<div data-v-2e83c935="" class="dropzone__inner">
										<span data-v-2e83c935="" class="dropzone__label"
											>Ziehen Sie hier ein Bild rein</span
										>
										<span data-v-2e83c935="" class="dropzone__label-or">oder</span>
										<button data-v-2e83c935="" class="dropzone__button">Datei auswählen...</button>
										<span data-v-2e83c935="" class="dropzone__rules">PNG oder JPG bis zu 10 Mb</span
										>
										<input
											data-v-2e83c935=""
											type="file"
											accept="image/jpeg, image/png"
											class="dropzone__input"
										/>
										<button data-v-2e83c935="" class="dropzone__example" style="display: none;">
											<span data-v-2e83c935="" class="dropzone__example-image">
												<img data-v-2e83c935="" /></span
											><span data-v-2e83c935="">Beispiel laden</span>
										</button>
									</div>
									<div data-v-2e83c935="" class="dropzone__preview" style="display: none;">
										<img data-v-2e83c935="" alt="" />
									</div>
									<div data-v-2e83c935="" class="dropzone__error" style="display: none;"></div>
									<div data-v-2e83c935="" class="dropzone__error" style="display: none;"></div>
								</div>
							</div>
							<div data-v-2e83c935="" class="uploader__right"></div>
						</div>
					</div>
					<div data-v-6eae2a62="" data-v-5864e722="" class="cell" data-v-2e5c23bd="">
						<p data-v-5864e722="" class="accept-terms" data-v-6eae2a62="">
							Mit dem Hochladen eines Bildes akzeptieren Sie unsere <a
								href="https://readcoop.eu/terms-and-conditions/"
								target="_top">Allgemeinen Geschäftsbedingungen</a
							> und unsere <a href="https://readcoop.eu/privacy-policy/" target="_top"
								>Datenschutzrichtlinie</a
							>.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</Page>
<script is:inline src="https://transkribus.ai/js/index.cb837ee4.js"></script>
