---
import EditionTable from "../components/EditionTable.astro";
import Page from "../layouts/Page.astro";

const baseurl = import.meta.env.BASE_URL ? import.meta.env.BASE_URL : "";
---

<Page title="Inhaltsverzeichnis" baseurl={baseurl}>
	<div>
		<h1 class="p-6 text-center text-4xl">Inhaltsverzeichnis</h1>
		<EditionTable baseurl={baseurl} />
	</div>
</Page>
