---
import Navigation from "./Navigation.astro";

const { backgroundcolor, baseurl } = Astro.props;
---

<nav class={`${backgroundcolor} border-b-4 border-b-brand`}>
	<Navigation textcolor="text-gray-500" baseurl={baseurl} />
</nav>
