---

---

<div>
	<div class="py-4 text-center sm:px-2 md:px-2">
		<div class="px-4">
			<div class="py-6 text-sm text-gray-600">
				<a target="_blank" href="https://diarium-noske.acdh-dev.oeaw.ac.at/crystal"
					>Erweiterte Suche in Crystal</a
				>
			</div>
			<div id="noske-search" class="text-center"></div>
			<div id="hitsbox"></div>
			<div class="mx-auto grid grid-cols-2">
				<div id="noske-pagination" class="text-right"></div>
				<div id="statsbox" class="text-left"></div>
			</div>
		</div>
	</div>
</div>

<script>
	// import { NoskeSearch } from "acdh-noske-search";
	import { NoskeSearch } from "acdh-noske-search";

	const search = new NoskeSearch({
		container: "noske-search",
		autocomplete: true,
		wordlistattr: ["word", "id", "antiqua", "label", "cert"],
	});

	search.minQueryLength = 1;

	search.search({
		client: {
			base: "https://diarium-noske.acdh-dev.oeaw.ac.at",
			corpname: "diarium",
			attrs: "word,id",
			structs: "doc,p,head,list,docTitle,imprimatur,g",
			refs: "doc.id,doc.corpus,p.id,head.id,list.id,docTitle.id,imprimatur.id",
		},
		hits: {
			id: "hitsbox",
			css: {
				table: "table-auto",
				kwic: "text-cyan-600 text-lg",
				trHead: "bg-gray-200",
			},
		},
		searchInput: {
			id: "noske-input",
			placeholder: "Suche nach Wörter, Phrase (inkl. Regular Expressions) oder mit CQL",
			button: "Suchen",
		},
		pagination: {
			id: "noske-pagination",
			css: {
				select: "rounded-lg text-xl p-2",
			},
		},
		stats: {
			id: "statsbox",
			label: "Ergebnisse:",
			css: {
				label: "text-lg text-gray-600 pt-2",
			},
		},
		config: {
			customUrl: "https://digitarium.acdh.oeaw.ac.at/edition",
			// customUrl: "edition",
			urlparam: "&img=on&aside=closed",
		},
		autocompleteOptions: {
			id: "noske-autocomplete",
			css: {
				div: "bg-white border border-gray-300 absolute ml-[10%] mt-10 text-left overflow-y-scroll h-[400px]",
				ul: "p-0",
				li: "p-2 hover:bg-gray-100 text-sm text-gray-500 hover:cursor-pointer",
			},
		},
	});
</script>
