---
import { createBaseurl } from "../lib/baseurl.ts";

const { title, url } = Astro.props;
---

<a href={createBaseurl(url)}>
	<div
		class="rounded-lg border border-cyan-500 bg-white p-6 text-gray-500 shadow-md hover:bg-cyan-500 hover:text-white sm:mx-2"
	>
		<h2 class="py-4 text-center text-3xl">{title}</h2>
	</div>
</a>
